* {
margin: 0;
padding: 0;
}
h1 {
margin: 0;
}
div.seperator {
height: 3px;
width: 60%;
background-color:#d55e2c;
background: linear-gradient(90deg, rgba(0,0,0,0) 10%, #d55e2c 50%, rgba(0,0,0,0) 90%);
margin: 0 auto;
border-radius: 50%;
margin-top:15px;
margin-bottom:30px;
}
.title {
color: #d55e2c;
font-size:50px;
font-weight: bold;
text-align: center;
margin-bottom: 0;
}
.subtitle {
font-size:20px;
text-align: center;
margin-top: 30;
margin-bottom: 10;
}
.header {
color: #d55e2c;
font-weight: bold;
font-size:20px;
text-align: left;
}
.subheader {
font-weight: bold;
font-size:20px;
text-align: left;
}
p {
text-align: left;
margin-left: 15px;
}
centered {
text-align: center;
}
code {
text-align: left;
margin-left: 15px;
cursor: pointer;
transition: color 1ms ease;
}
code:hover {
color: #d55e2c;
}
#toc_container {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: bold;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}